---
import UserPanel from "../components/UserPanel.astro";
import Layout from "../layouts/Layout.astro";

// scripts section or code fence section
const pageTitle = "Astromelia";
const headingTitle = "Astromelia Playground";
const currentUser = {
  name: "Jane",
  lastName: "Doe",
  isAdmin: true,
};
---

<!-- template section -->
<Layout pageTitle={pageTitle}>
  <h1>{headingTitle}</h1>
  <UserPanel user={currentUser} />
  <astro-tooltip textToShow="Some important info"></astro-tooltip>
  <astro-tooltip textToShow="Another important info">
    I will occupy the slot
  </astro-tooltip>
</Layout>

<!-- This is client-side script is different 
 from the code fence script which renders on the server side -->
<script src="../scripts/index.ts"></script>
<!-- `is:inline` tells Astro to keep the script here without moving/optimizing it. 
`defer` tells the browser to run it after the HTML is parsed, without blocking page load. -->
<script src="../../external-script.js" is:inline defer></script>
<script src="../web-components/Tooltip/Tooltip.js"></script>
