---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Web components">
  <div>
    <h2>Tooltip web component</h2>
    <astro-tooltip textToShow="Some important info"></astro-tooltip>
  </div>
  <div>
    <h2>Tooltip web component</h2>
    <astro-tooltip textToShow="Another important info">
      I will occupy the slot
    </astro-tooltip>
  </div>
  <div>
    <h2>Confirm link web component</h2>
    <a is="astro-confirm-link" href="https://google.com">confirm link</a>
  </div>
  <div>
    <h2>Box and Button</h2>
    <astro-box-and-button is-visible="no-no"
      >Content revealed!</astro-box-and-button
    >
  </div>
</Layout>

<script src="../web-components/Tooltip/Tooltip.js"></script>
<script src="../web-components/Confirm-link/ConfirmLink.js"></script>
<script src="../web-components/Box-and-button/BoxAndButton.js"></script>
